@model ClientModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Создание клиента</h2>
        </div>
        <div asp-validation-summary=All></div>
        <div class="mb-3">
            <label asp-for="Inn">Инн</label>
            <input asp-for="Inn" class="form-control"/>
            <span asp-validation-for="Inn" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Name">Название</label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Type">Тип</label>
            <input asp-for="Type" class="form-control"/>
            <span asp-validation-for="Inn" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UcheriditelNomer">Учередитель</label>
            <input asp-for="UcheriditelNomer" class="form-control"/>
            <span asp-validation-for="UcheriditelNomer" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Добавить</button>
        <a asp-controller="Client" asp-action="Index" class ="btn btn-secondary" style="width:150px">Назад</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}